<div class="form-container">
  <%= simple_form_for @player, data: { controller: "add-file" } do |f| %>
    <%= f.input :name %>
    <%= f.input :position %>
    <%= f.input :age %>
    <%= f.input :number %>
    <%= f.input :bio, as: :text %>
    <div class="images">
      <%= f.input :images, as: :file, input_html: { multiple: true, data: { action: "add-file#addFile" } }  %>
    </div>
    <div data-add-file-target="files" class="new-file" ></div>
    <%= f.button :submit, class:"btn btn-boston" %>
    <%= link_to "Back to team", players_path, class:"btn btn-boston"%>
  <% end %>
</div>
