<div class="form-container">
  <%= simple_form_for @player do |f| %>
    <%= f.input :name %>
    <%= f.input :position %>
    <%= f.input :age %>
    <%= f.input :number %>
    <%= f.button :submit, class:"btn btn-boston" %>
    <%= link_to "Back to team", players_path, class:"btn btn-boston"%>
  <% end %>
</div>
