<div class="container mt-5 w-100">
  <h1 class="text-center"><%= @player.name %></h1>
  <h2 class="text-center"><%= @player.number %></h2>
  <div>
      <% @player.images.each do |image| %>
        <%= image_tag image, width:200, crop: :fill %>
      <% end %>
  </div>
  <h1><%= @player.number %></h1>
  <h2><%= @player.name %></h2>
  <h3><%= @player.position %></h3>
  <p>Age <%= @player.age %> years</p>
  <%= link_to "Update player", edit_player_path(@player), class:"btn btn-boston" %>
  <%= link_to "Delete player", player_path(@player), data: {turbo_method: :delete, turbo_confirm: "Are you sure?"}, class:"btn btn-delete" %>
  <%= link_to "Back to Team", players_path, class:"btn btn-boston" %>
</div>
